.square {
	background-color: #343434;
	float: left;
	margin: 5px 5px ;
	height: 45px;
	width: 45px;
	cursor: pointer;
	color:white;
	font-size: 30px;
	text-align:center;
	padding: 32px 32px ;
}
.square:hover {
	background-color: #2ecc71;
	color: #343434;
}

.row {
	clear:both;
}